<div class="uk-panel uk-flex">
  <div class="uk-align-center">
    <h2>Create Staff</h2>

<form action="/create-student" method="POST">
<div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input" type="text" placeholder="name">
        </div>
    </div>

    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon " uk-icon="user"></span>
            <input class="uk-input " id="course" name="course" placeholder="Last name">
        </div>
    </div>
    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon " uk-icon="google"></span>
            <input class="uk-input" type="email" name="email" placeholder="Email">
        </div>
    </div>
    
    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon " uk-icon="icon:lock"></span>
            <input class="uk-input" type="text" name="password" placeholder="Password ?">
        </div>
    </div>
    <div>
    <label for="role">Select Role</label>
<select name="role" id="role">
  <option value="STAFF">Staff</option>
  <option value="CHECKER">Checker</option>
</select>
    <br>
    <br>
    </div>
    <a href="/staffprofile">
     <button class="uk-button uk-button-primary uk-button-small" type="submit" value="">Go back</button></a>

     <input type="submit" value="Create">
     </form>
  </div>
  </div>