
<div class="uk-panel">
<h2>Create student</h2>
<form action="/create-student" method="POST">
<div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input" type="text" placeholder="name">
        </div>
    </div>

    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon " uk-icon="user"></span>
            <input class="uk-input " id="course" name="course" placeholder="Last name">
        </div>
    </div>
    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon " uk-icon="google"></span>
            <input class="uk-input" type="email" name="email" placeholder="Email">
        </div>
    </div>
    
    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon " uk-icon="icon:lock"></span>
            <input class="uk-input" type="text" name="password" placeholder="Password ?">
        </div>
    </div>
    <div>
        <select name="course" id="course">
       <option value="WEBDEV">Web Development</option>
       <option value="UX">UX/UI</option>
       <option value="DATA">Data Analytic</option>
        </select>
    </div>
    <br>
    <br>
    <a href="/staffprofile">
     <button class="uk-button uk-button-primary uk-button-small" type="submit" value="">Go back</button></a>


     <button class="uk-button uk-button-primary uk-button-small" type="submit" value="Create">Create</button></a>
     </form>
     </div>