<div class="uk-panel uk-flex">
  <div class="uk-align-center">
<h2>Edite tu perfil</h2>
<form action="/edit-staff" method="POST">
<div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input" type="text" placeholder="name">
        </div>
    </div>

    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon  " uk-icon="user"></span>
            <input class="uk-input " type="text" name="name" placeholder="Last name">
        </div>
    </div>
    
     <button class="uk-button uk-button-primary uk-button-small" type="submit" value="Update">Update</button>
    </form>
    </div>
    </div>