
<h2>Invite someone</h2>

<form action="/invite-guest" method="POST">
<label for="name">Name</label>
<input type="text" name="name" id="name" placeholder="Name">

<label for="lastName">Last Name</label>
<input type="text" name="lastName" id="lastName" placeholder="Last Name">

<label for="email">Email</label>
<input type="email" name="email" id="email" placeholder="Email">
<br>
<br>
<label for="">Subject</label>
<input type="text" name="subject" id="" placeholder="Subject">

<label for="person">Who are you going to visit?</label>
<input type="text" name="person" id="person">

<label for="message">Message</label>
<textarea type="text" name="message" id="" placeholder="Message"></textarea>
<input type="submit" value="Invite">
<br>
<br>
<label for="date">Select Date</label>
<input type="date" name="date" id="date">

</form>

<a href="/staffprofile">Go Back</a>
</form>