<div class="image">
<h2>Login</h2>




<div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="">
  
</div>
<form action="/login" method="POST">
<div >
    <div class="uk-margin uk-position-center">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input" type="email" name="email" placeholder="Email">
        </div>
        <div class="uk-inline">
            <span class="uk-form-icon " uk-icon="icon: lock"></span>
            <input class="uk-input" type="password" name="password" placeholder="Password">
        </div>
        <p uk-margin>
   
    <button class="uk-button uk-button-primary uk-button-small" type="submit" value="Login">Login</button>
    

    </div>
     </div>
     </div>
    

</form>