<h1>Student profile</h1>
<h2>Welcome {{student.name}} {{student.lastName}}</h2>
<div class="students">
    <h3>Invited guests</h3>
</div>
<a href="/create-guest/">Invite someone</a>
<br>
<br>
<a href="/logout">Logout</a>

